{%  load cache %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{%  block title %}Home Page{% endblock %}</title>
    <meta name="author" content="Sylwester Tomaszewski">
{%  cache 604800 styles_and_scripts_home %}
    {% load staticfiles %}
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{% static  "css/style.css" %}" media="screen" />
    <link rel="stylesheet" href="{% static  "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static  "css/jquery-ui-1.10.3.custom.css" %}">
    <link rel="stylesheet" href="{% static  "css/font-awesome.min.css" %}">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{% static  "css/font-awesome-ie7.min..css" %}>
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{% static  "css/jquery.ui.1.10.3.ie.css" %}>
    <![endif]-->
    <link rel="stylesheet" href="{% static  "css/prettify.css" %}">
    <script src="{%  static "js/jquery-1.9.0.min.js" %}" type="text/javascript"></script>
{%  endcache %}
<script>
    $(document).ready(function(){
        $('.button').button();
        $( "#dropdown-toggle" )
            .button()
            .next()
            .button({
                text: false,
                icons: {
                    primary: "ui-icon-triangle-1-s"
                }
            })
            .click(function() {
                var menu = $( this ).parent().next().show().position({
                    my: "left top",
                    at: "left bottom",
                    of: this
                });
                $( document ).one( "click", function() {
                    menu.hide();
                });
                return false;
            }).parent()
            .buttonset()
            .next()
            .hide()
            .menu();
    });
    function checkIfCanOpen(userId){
        $.get('jsonCheckIfCanOpen/' + userId + '/', function(data){
            if(data == 1)//moze otworzyc
            {
                $('#check_' + userId).replaceWith('<p>Tak</p>');
                var url = '/jsonCloseDoor/'+ userId;
                $('#openDoor_' + userId).append('<a class="btn btn-danger" href="' + url + '">Close</a>');
            }
            else{
                $('#check_' + userId).replaceWith('<p>Nie</p>');
                var url = '/jsonOpenDoor/'+ userId;
                $('#openDoor_' + userId).append('<a class="btn btn-warning" href="' + url + '">Open</a>');
            }
        })

    }
</script>
{% block script %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-toggle="collapse" data-target=".nav-collapse" role="button" aria-disabled="false"><span class="ui-button-text">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span></button>
            <a class="brand" href="/">Home Page</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="mailto:silwestpol@gmail.com">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Logged as: {{ user }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li><a tabindex="-1" href="{%  url "app.views.settings" %}">Settings</a></li>
                            {% if user.is_authenticated %}
                                {%  if user.is_staff %}
                                    <li><a tabindex="-1" href="/admin/">Admin</a></li>
                                {%  endif %}
                            {%  endif %}
                            <li><a tabindex="-1" href="{%  url "app.views.logout_user" %}">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content" style="margin-top: 55px;">
    {%  block content %}
        {% if request.user.is_superuser %}
            <div id="users" style="margin: 0 auto;">
                <table class="cool-table" style="margin: 0 auto;">
                    <thead>
                        <th>UserName</th>
                        <th>User Card #</th>
                        <th>Valid to</th>
                        <th>Moze otworzyc drzwi do serwerowni?</th>
                        <th>Pozwol na otworzenie drzwi</th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr {% if user.userCard.can_login == False %}class="ui-state-error"{% endif %}>
                                <td>{{ user }}</td>
                                <td>{{ user.userCard }}</td>
                                <td>{{ user.userCard.validTo }}</td>
                                <td><a id='check_{{ user.user.id }}' onclick="checkIfCanOpen({{ user.user.id }})" class="btn btn-primary">Sprawdz</a></td>
                                <td id="openDoor_{{ user.user.id }}"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <a class="button" href="/sendEmail/">Send email to unactive users</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% else %}
            <div id="users" style="margin: 0 auto;">
                <table class="cool-table" style="margin: 0 auto;">
                    <thead>
                        <th>UserName</th>
                        <th>User Card #</th>
                        <th>Valid to</th>
                        <th>Moze otworzyc drzwi do serwerowni?</th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            {% if user.user == request.user %}
                                <tr {% if user.userCard.can_login == False %}class="ui-state-error"{% endif %}>
                                    <td>{{ user }}</td>
                                    <td>{{ user.userCard }}</td>
                                    <td>{{ user.userCard.validTo }}</td>
                                    <td><a id='check_{{ user.user.id }}' onclick="checkIfCanOpen({{ user.user.id }})" class="btn btn-primary">Sprawdz</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <a class="button" href="/updateValidTo/">Przedluz swoje konto o kolejny miesiac</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}
    {%  endblock %}
</div>
{%  cache 604800 styles_and_scripts_homejs %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static  "js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery-ui-1.10.0.custom.min.js" %}" type="text/javascript"></script>
<script src="{% static  "js/prettify.js" %}" type="text/javascript"></script>
<!-- noty -->
<script type="text/javascript" src="{% static "js/jquery.noty.js" %}"></script>
<!-- layouts -->
<script type="text/javascript" src="{% static "js/inline.js" %}"></script>
<script type="text/javascript" src="{% static "js/top.js" %}"></script>
<script type="text/javascript" src="{% static "js/topCenter.js" %}"></script>
<script type="text/javascript" src="{% static "js/topLeft.js" %}"></script>
<script type="text/javascript" src="{% static "js/topRight.js" %}"></script>
<!-- themes -->
<script type="text/javascript" src="{% static "js/default.js" %}"></script>
{%  endcache %}
<script>
    function noty_message(text, type, layout){
        var n = noty({
            text: text,
            type: type,
            dismissQueue: true,
            layout: layout,
            theme: 'defaultTheme'
        });
    }
    $(document).ready(function(){
        {% if messages %}
            {% for message in messages %}
                noty_message('{{ message }}', '{{ message.tags }}', 'topRight');
            {% endfor %}
        {% endif %}
    })
</script>
</body>
</html>